.page-container {
    width: 80%;
    margin: 20px auto;
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .page-container h2 {
    margin-bottom: 20px;
  }
  
  .page-container ul li a {
    font-size: 18px;
  }
  